page-servizi {

.button-md{

    height: auto!important;

}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        
    color: #ffffff;

}

#title{

    /* color: #ff6f18;
    font-weight: bold;
    background-color: #ffefd4;
    padding: 10px;
    font-size:2.4rem;        
    text-align: center; */

    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    
}


    
}
