<ion-header>
  <ion-navbar>

      <button ion-button menuToggle>
  
        <ion-icon name="menu" style="color:white;"></ion-icon>
      
      </button>

    <ion-title>
        
      <!-- <p style="color:white;">Home</p> -->
    
      <img src="assets/img/logo.png" style="display: block; margin-left: auto; margin-right: auto; width: 30%;">

    </ion-title>

  </ion-navbar>

  <ion-toolbar class="search_toolbar">
  
    <ion-searchbar (ionInput)="getItems($event)" (ionClear)="onCancel($event)" (ionCancel)="onCancel($event)" showCancelButton="true" (search)="closeKeyboard()" placeholder="Cerca prodotto" showCancelButton="true"></ion-searchbar>      
    
      <ion-buttons end>

          <button ion-button icon-only (tap)="scan()"><ion-icon name="md-barcode" style="font-size:2.2em; color:#ea5b0c"></ion-icon></button>

        </ion-buttons>

  </ion-toolbar>

  

</ion-header>

<ion-content padding id="content">

<!-- Banner pubblicitari -->

<ion-slides id="pubblicita" pager paginationType="bullets" effect="slide" loop="true" autoplay="3000" speed="1000">

  <ion-slide *ngFor="let prodotto of banner">
  

      <img  [src]="prodotto.immagine" />


  </ion-slide>

</ion-slides>

<div [hidden]="hide" style="height: 100%;">

  <div style="background-color:#ff7e33; padding: 1px; "></div>

  <ion-slides  id="cat" pager paginationType="bullets" effect="slide" >

   <ion-slide style="background-color: #ffefd4">
     <h1>Telefonia e Navigazione</h1>
   </ion-slide>

     <ion-slide *ngFor="let prodotto of array_prod_1">
       
       <ion-grid>

         <ion-row (tap)="schedaProdotto(prodotto)">

           <ion-col col-6>

               <div class="image-container" *ngIf="prodotto.volantino !== false">

                   <img id="img" [src]="prodotto.immagine">              
                   
                   <img class="after"  src="assets/img/F655.png" />
                   
               </div> 
                
               <div class="image-container" *ngIf="prodotto.volantino == false">
         
                 <img id="img" [src]="prodotto.immagine" />
         
               </div>  

           </ion-col>

           <ion-col col-6>

               <div id="desc_container">

                   <p id="nome">{{prodotto.nome}}</p>
                   
                   <p id="descrizione">{{prodotto.codice}}</p>
   
                   <p id="prezzo" >{{prodotto.prezzo}} €</p>
         
               </div>

           </ion-col>

           <!-- <ion-col col-3>
 
               <button ion-button id="scopri" outline (tap)="schedaProdotto(prodotto)">Scheda prodotto</button>  

           </ion-col> -->

         </ion-row>

       </ion-grid>
 
     </ion-slide>

     <ion-slide style="background-color: #ffefd4">
        <button ion-button outline (tap)="goToNext(telefonia_e_navigazione)">Scopri di piu'</button> 
      </ion-slide>

   </ion-slides>

   <div style="background-color:#ff7e33; padding: 1px; "></div>

   <ion-slides id="cat" pager paginationType="bullets" effect="slide" >

     <ion-slide style="background-color: #ffefd4">
       <h1>Informatica</h1>
     </ion-slide>
   
     <ion-slide *ngFor="let prodotto of array_prod_2">
       
         <ion-grid>

             <ion-row  (tap)="schedaProdotto(prodotto)">

               <ion-col col-6>
 
                   <div class="image-container" *ngIf="prodotto.volantino !== false">
 
                       <img id="img" [src]="prodotto.immagine">              
                       
                       <img class="after"  src="assets/img/F655.png" />
                       
                   </div> 
                    
                   <div class="image-container" *ngIf="prodotto.volantino == false">
             
                     <img id="img" [src]="prodotto.immagine" />
             
                   </div>  
 
               </ion-col>

               <ion-col col-6>
 
                   <div id="desc_container">
 
                       <p id="nome">{{prodotto.nome}}</p>
                       
                       <p id="descrizione">{{prodotto.codice}}</p>
       
                       <p id="prezzo" >{{prodotto.prezzo}} €</p>
       
                       
       
                   </div>
 
                </ion-col>
 
             </ion-row>
 
           </ion-grid>
 
     </ion-slide>

     <ion-slide style="background-color: #ffefd4">
        <button ion-button outline (tap)="goToNext(info)">Scopri di piu'</button>  
      </ion-slide>

     </ion-slides>

     <div style="background-color:#ff7e33; padding: 1px; "></div>

     <ion-slides id="cat" pager paginationType="bullets" effect="slide" >

       <ion-slide style="background-color: #ffefd4">
         <h1>Audio, Video e Fotografia</h1>
       </ion-slide>
 
         <ion-slide *ngFor="let prodotto of array_prod_3">

           <ion-grid>

               <ion-row  (tap)="schedaProdotto(prodotto)">
                 
                 <ion-col col-6>
   
                     <div class="image-container" *ngIf="prodotto.volantino !== false">
   
                         <img id="img" [src]="prodotto.immagine">              
                         
                         <img class="after"  src="assets/img/F655.png" />
                         
                     </div> 
                      
                     <div class="image-container" *ngIf="prodotto.volantino == false">
               
                       <img id="img" [src]="prodotto.immagine" />
               
                     </div>  
   
                 </ion-col>

                 <ion-col col-6>
   
                     <div id="desc_container">
   
                         <p id="nome">{{prodotto.nome}}</p>
                         
                         <p id="descrizione">{{prodotto.codice}}</p>
         
                         <p id="prezzo" >{{prodotto.prezzo}} €</p>
                     
                     </div>
   
                    </ion-col>
   
               </ion-row>
   
             </ion-grid>
     
         </ion-slide>
 
         <ion-slide style="background-color: #ffefd4">
            <button ion-button outline (tap)="goToNext(audio_video)">Scopri di piu'</button>   
          </ion-slide>

       </ion-slides>
 
       <div style="background-color:#ff7e33; padding: 1px; "></div>

       <ion-slides id="cat" pager paginationType="bullets" effect="slide" >
 
         <ion-slide style="background-color: #ffefd4">
           <h1>Elettrodomestici e Climatizzazione</h1>
         </ion-slide>
   
           <ion-slide *ngFor="let prodotto of array_prod_4">
             
               <ion-grid>

                   <ion-row  (tap)="schedaProdotto(prodotto)">
                     
                     <ion-col col-6>
       
                         <div class="image-container" *ngIf="prodotto.volantino !== false">
       
                             <img id="img" [src]="prodotto.immagine">              
                             
                             <img class="after"  src="assets/img/F655.png" />
                             
                         </div> 
                          
                         <div class="image-container" *ngIf="prodotto.volantino == false">
                   
                           <img id="img" [src]="prodotto.immagine" />
                   
                         </div>  
       
                     </ion-col>
   
                     <ion-col col-6>
       
                         <div id="desc_container">
       
                             <p id="nome">{{prodotto.nome}}</p>
                             
                             <p id="descrizione">{{prodotto.codice}}</p>
             
                             <p id="prezzo" >{{prodotto.prezzo}} €</p>
                             
                         </div>
       
                     </ion-col>

                   </ion-row>
       
                 </ion-grid>
       
           </ion-slide>
   
           <ion-slide style="background-color: #ffefd4">
            <button ion-button outline (tap)="goToNext(elettrodomestici_e_climatizzazione)">Scopri di piu'</button> 
          </ion-slide>

         </ion-slides>

         <div style="background-color:#ff7e33; padding: 1px; "></div>

         <ion-slides id="cat" pager paginationType="bullets" effect="slide" >

           <ion-slide style="background-color: #ffefd4">
             
             <h1>Piccoli Elettrodomestici</h1>
           
           </ion-slide>
     
             <ion-slide *ngFor="let prodotto of array_prod_5">
               
                 <ion-grid>

                     <ion-row  (tap)="schedaProdotto(prodotto)">
                       
                       <ion-col col-6>
         
                           <div class="image-container" *ngIf="prodotto.volantino !== false">
         
                               <img id="img" [src]="prodotto.immagine">              
                               
                               <img class="after"  src="assets/img/F655.png" />
                               
                           </div> 
                            
                           <div class="image-container" *ngIf="prodotto.volantino == false">
                     
                             <img id="img" [src]="prodotto.immagine" />
                     
                           </div>  
         
                       </ion-col>
     
                       <ion-col col-6>
         
                           <div id="desc_container">
         
                               <p id="nome">{{prodotto.nome}}</p>
                               
                               <p id="descrizione">{{prodotto.codice}}</p>
               
                               <p id="prezzo" >{{prodotto.prezzo}} €</p>
                                 
                           </div>
         
                       </ion-col>
        
                     </ion-row>
         
                   </ion-grid>

             </ion-slide>

             <ion-slide style="background-color: #ffefd4">
                <button ion-button outline (tap)="goToNext(p_elettrodomestici)">Scopri di piu'</button>   
              </ion-slide>
     
           </ion-slides>
     
           <div style="background-color:#ff7e33; padding: 1px; "></div>

           <ion-slides id="cat" pager paginationType="bullets" effect="slide" >
     
             <ion-slide style="background-color: #ffefd4">

                <h1>Game</h1>
            
            </ion-slide>
       
               <ion-slide *ngFor="let prodotto of array_prod">
                 
                   <ion-grid>

                       <ion-row  (tap)="schedaProdotto(prodotto)">
                         
                         <ion-col col-6>
           
                             <div class="image-container" *ngIf="prodotto.volantino !== false">
           
                                 <img id="img" [src]="prodotto.immagine">              
                                 
                                 <img class="after"  src="assets/img/F655.png" />
                                 
                             </div> 
                              
                             <div class="image-container" *ngIf="prodotto.volantino == false">
                       
                               <img id="img" [src]="prodotto.immagine" />
                       
                             </div>  
           
                         </ion-col>
       
                         <ion-col col-6>
           
                             <div id="desc_container">
           
                                 <p id="nome">{{prodotto.nome}}</p>
                                 
                                 <p id="descrizione">{{prodotto.codice}}</p>
                 
                                 <p id="prezzo" >{{prodotto.prezzo}} €</p>
                                     
                             </div>
           
                         </ion-col>
           
                         <ion-col col-3>
 
                             <button ion-button id="scopri" outline (tap)="schedaProdotto(prodotto)">Scheda prodotto</button>  
           
                         </ion-col>

                       </ion-row>
           
                     </ion-grid>

               </ion-slide>

               <ion-slide style="background-color: #ffefd4">
                <button ion-button outline (tap)="goToNext(giochi)">Scopri di piu'</button>  
              </ion-slide>
       
             </ion-slides>

            </div>

             <ion-grid [hidden]="show">

                    <button ion-button full [hidden]="shared.getCountSelectedItem() === 0" class="toolbar_mail" (tap)="confronta()">

                            <ion-icon name="md-git-compare" style="margin-right:10px;"></ion-icon>
                        
                            <span *ngIf="shared.getCountSelectedItem() == 0 || shared.getCountSelectedItem() > 1">{{shared.getCountSelectedItem()}} Prodotti selezionati</span>
                            
                            <span *ngIf="shared.getCountSelectedItem() == 1">{{shared.getCountSelectedItem()}} Prodotto selezionato</span>
                        
                    </button>

                <div *ngIf="searchSize == 1" style="background-color:#ff7e33; padding: 10px; color:white; font-weight:bold;">{{searchSize}} prodotto trovato per la parola "{{searchWord}}"</div>

                <div *ngIf="searchSize != 1" style="background-color:#ff7e33; padding: 10px; color:white; font-weight:bold;">{{searchSize}} prodotti trovati per la parola "{{searchWord}}"</div>

                  <ion-row *ngFor='let index of prodotti_ricerca; let i = index; let even = even' >
                    
                    <ion-col id="left" *ngIf="even && prodotti_ricerca[i] !== undefined" (click)="schedaProdotto(prodotti_ricerca[i])">
                        
                            <div id="container">
            
                                    <div class="image-container_1" *ngIf="even && prodotti_ricerca[i].volantino !== false">
                                        
                                        <img id="img" src="{{prodotti_ricerca[i].immagine}}" />
                                        
                                        <img class="after"  src="assets/img/F655.png" />
                                        
                                    </div>   
                                    
                                    <div class="image-container_1" *ngIf="even && prodotti_ricerca[i].volantino == false">
                                        
                                        
                                            <img id="img" src="{{prodotti_ricerca[i].immagine}}" />
                                    
                                        
                                    </div>  
            
                               <div class="module fade">
                                            
                                        <p>{{prodotti_ricerca[i].nome}}</p>
                                         
                                    </div>
            
                                    <div id="container_prezzo_prodotto">
                                   
                                        <span id="prezzo" *ngIf="prodotti_ricerca[i].sconto != 0">{{prezzo_scontato(prodotti_ricerca[i].prezzo, prodotti_ricerca[i].sconto)}} €</span>
                            
                                            <span id="sconto_1" *ngIf="prodotti_ricerca[i].sconto !== 0">-{{prodotti_ricerca[i].sconto}}% </span><span class="strikethrough" *ngIf="prodotti_ricerca[i].sconto !== 0">{{prodotti_ricerca[i].prezzo}} €</span>
            
                                            <span id="prezzo_1" *ngIf="prodotti_ricerca[i].sconto == 0">{{prodotti_ricerca[i].prezzo}} €</span>
                                
                                    </div>
            
                                    <div style="text-align: center; margin-top: 20px;">
                                
                                            <button ion-button icon-only clear (click)="share(prodotti_ricerca[i])"><ion-icon name="md-share"></ion-icon></button>
                                    
                                            <button ion-button icon-only clear (click)="addWishlist(prodotti_ricerca[i], i)" *ngIf="!prodotti_ricerca[i].wishlist"><ion-icon id="heart_{{i}}" name="md-heart"></ion-icon></button>
                                    
                                            <button ion-button icon-only clear (click)="addWishlist(prodotti_ricerca[i], i)" *ngIf="prodotti_ricerca[i].wishlist"><ion-icon id="heart_{{i}}" name="md-heart" style="color:#d9d9d9;"></ion-icon></button>        
                                            
                                            <button ion-button icon-only clear id="compareButton_{{i}}" (click)="addToCompare(prodotti_ricerca[i], i)" *ngIf="!prodotti_ricerca[i].compare"><ion-icon name="md-git-compare"></ion-icon></button>
                                    
                                            <button ion-button icon-only clear id="compareButton_{{i}}" (click)="addToCompare(prodotti_ricerca[i], i)" *ngIf="prodotti_ricerca[i].compare"><ion-icon name="md-git-compare" style="color:#d9d9d9;"></ion-icon></button>
                                    
                                        </div>
            
                            </div>
                
                    </ion-col>
                   
                    <ion-col id="right" *ngIf="even && prodotti_ricerca[i+1] !== undefined" (click)="schedaProdotto(prodotti_ricerca[i+1])">
                            
                        <div id="container">
            
                                <div class="image-container_1" *ngIf="even && prodotti_ricerca[i+1].volantino !== false">
                                    
                                    <img id="img" src="{{prodotti_ricerca[i+1].immagine}}" />
                                    
                                    <img class="after"  src="assets/img/F655.png" />
                                    
                                </div>   
                                
                                <div class="image-container_1" *ngIf="even && prodotti_ricerca[i+1].volantino == false">
                                        
                                    <img id="img" src="{{prodotti_ricerca[i+1].immagine}}" />
                                    
                                </div>  
            
                           <div class="module fade">
                                        
                                    <p>{{prodotti_ricerca[i+1].nome}}</p>
                                     
                                </div>
            
                                <div id="container_prezzo_prodotto">
                       
                                    <span id="prezzo" *ngIf="prodotti_ricerca[i+1].sconto != 0">{{prezzo_scontato(prodotti_ricerca[i+1].prezzo, prodotti_ricerca[i+1].sconto)}} €</span>
        
                                    <span id="sconto_1" *ngIf="prodotti_ricerca[i+1].sconto !== 0">-{{prodotti_ricerca[i+1].sconto}}% </span><span class="strikethrough" *ngIf="prodotti_ricerca[i+1].sconto !== 0">{{prodotti_ricerca[i+1].prezzo}} €</span>
        
                                    <span id="prezzo_1" *ngIf="prodotti_ricerca[i+1].sconto == 0">{{prodotti_ricerca[i+1].prezzo}} €</span>
                            
                                </div>
                
                                    <div style="text-align: center; margin-top: 20px;">
                            
                                       <button ion-button icon-only clear (click)="share(prodotti_ricerca[i+1])"><ion-icon name="md-share"></ion-icon></button>
                                
                                        <button ion-button icon-only clear (click)="addWishlist(prodotti_ricerca[i+1], i+1)" *ngIf="!prodotti_ricerca[i+1].wishlist"><ion-icon id="heart_{{i+1}}" name="md-heart"></ion-icon></button>
                                
                                        <button ion-button icon-only clear (click)="addWishlist(prodotti_ricerca[i+1], i+1)" *ngIf="prodotti_ricerca[i+1].wishlist"><ion-icon id="heart_{{i+1}}" name="md-heart" style="color:#d9d9d9;"></ion-icon></button>        
                                        
                                        <button ion-button icon-only clear id="compareButton_{{i+1}}" (click)="addToCompare(prodotti_ricerca[i+1], i+1)" *ngIf="!prodotti_ricerca[i+1].compare"><ion-icon name="md-git-compare"></ion-icon></button>
                                
                                        <button ion-button icon-only clear id="compareButton_{{i+1}}" (click)="addToCompare(prodotti_ricerca[i+1], i+1)" *ngIf="prodotti_ricerca[i+1].compare"><ion-icon name="md-git-compare" style="color:#d9d9d9;"></ion-icon></button>
                                    
                                      </div>
            
                        </div>
                        
            
                        
            
                    </ion-col>
                  </ion-row>

                  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                  </ion-infinite-scroll>
                
                </ion-grid>

      </ion-content>
 
      <ion-footer>
  
  <ion-toolbar>
   
    <div style="background-color:#ff5f00; display:inline-flex; width: 100%;">

      <div style="float:left; margin-top: 4px;"> 
      
        <img src="assets/img/white_marker.png" width="50">
      
      </div>
      
      <div style="float:right; padding: 10px;">
        
          <p id="punto_vendita">{{punto_vendita_vicino.nome}}</p>
    
          <p id="distanza">{{punto_vendita_vicino.distanza}} km da te!</p> </div>
    
          <div style="outline: left;"></div>
    
      </div>
 
</ion-toolbar>

</ion-footer> 