page-quote {

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        
        color: #ffffff;

    }

    #tot_carrello{

        float: left;
        color: #fff;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
        
    }

}
